<!-- Footer -->
    <section id="footer">
        <div class="container">
            <ul class="icons">
                <!--<li><a href="" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
                <li><a><span class="label">Fürstenweg 19, 33102 Paderborn</span></a></li>
                <li><a href="tel:+49 5251 33536"><i class="icon fa-phone" style="font-size: 12px!important;"></i> <span class="label">  05251 33536</span></a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://www.facebook.com/clubhauspaderborn" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/clubhauspaderborn" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="mailto:info@clubhaus-paderborn.de" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </div>
    </section>
<script src="{{ site.baseurl }}/js/main.js"></script>

