<!-- Header -->
<section id="header" class="skel-layers-fixed" style="overflow:auto;">
    <header>
        <span class="image avatar"><img src="{{ site.baseurl }}/images/logo-weiss.png" alt=""
                                        style="filter: invert(0%)"/></span>
        <h1 id="logo"><a href="{{ site.baseurl }}/">Clubhaus Paderborn</a></h1>
        <p>Fürstenweg 19, 33102 Paderborn</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <!-- <li><a href="{{ site.baseurl }}/contact">Contact</a></li> -->
            <li><a href="{{ site.baseurl }}/impressum">Impressum</a></li>
            <li><a href="{{ site.baseurl }}/impressum#datenschutz">Datenschutz</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="https://www.facebook.com/clubhauspaderborn" class="icon fa-facebook"><span class="label">Facebook</span></a>
            </li>
            <li><a href="https://www.instagram.com/clubhauspaderborn/" class="icon fa-instagram"><span class="label">Instagram</span></a>
            </li>
            <li><a href="mailto:info@clubhaus-paderborn.de" class="icon fa-envelope"><span
                    class="label">Email</span></a></li>
            <li><a href="tel:+49 5251 33536" class="icon fa-phone"><span class="label">Telefon</span></a></li>
        </ul>
    </footer>
</section>

