	<head>
		<title>{% if page.title %}{{ page.title | escape }} - {% endif %} {{ site.head_title | escape }}</title>
		<meta name="description" content="{{ site.description }}">
		<meta name="keywords" content="{{ site.keywords }}">

		<meta property="og:title" content="{{ site.head_title}}">
		<meta property="og:url" content="{{ site.url }}">
		<meta property="og:image" content="{{site.url}}/images/logo-gruen-weiss-mit-text.png">
		<meta property="og:type" content="website">
		<meta property="og:description" content="{{site.description}}">
		<meta property="og:locale" content="de_DE">


		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Restaurant",
				"address": {
					"@type": "PostalAddress",
					"addressLocality": "Paderborn",
					"postalCode": "33102",
					"streetAddress": "Fürstenweg 19"
				},
				"name": "Clubhaus Paderborn",
				"openingHours": [
					"Mo-Fr 16:00-23:00",
					"Sa-Su 11:00-14:00",
					"Sa-Su 17:00-23:00"
				],
				"telephone": "+49 5251 33536",
				"priceRange": "$",
				"acceptsReservations": true,
				"servesCuisine": [
					"Snacks"
				],
				"url": "http://www.clubhaus-paderborn.de",
				"email": "info@clubhaus-paderborn.de",
				"sameAs": [
					"https://www.facebook.com/clubhauspaderborn",
					"https://www.instagram.com/clubhauspaderborn"
				]
			}
		</script>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.scrollzer.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.scrolly.min.js"></script>
		<script src="{{ site.baseurl }}/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#008244">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#008244">
	</head>
